@import "reset.css";

$highlight: #ffa;

body { 
  font: {
    family: Georgia, Times, "Times New Roman", serif; 
    size:18px;
  } 
  color:#333
}

a { 
  font-style:italic; 
}

p.date-slug {
  font: {
    style:italic;
  }
  margin: 5px 0 20px;
  clear: both;
}

h2 { 
  text-transform: lowercase; 
  font: { 
    style: italic;
    size: 30px;
  }
}

h2.post-title {
  clear: left;
  float: left;
  padding: 4px;
  margin: 0 0 10px; 
}

h3 { 
  font-size: 24px;
  .title { 
    background:$highlight; 
  }
}

#wrapper { 
  width: 1080px; 
  padding-top:100px;
}

#meta-head { 
  background: #202020; 
  height:25px; 
  color: white; 
  font-size: 12px; 
  padding: 4px 44px 0px;
  border-bottom: #aaa;
  cursor: pointer!important;
  p { 
    display: inline; 
    cursor: pointer!important;
  }
}

#main { 
  padding: 0 44px 50px;
  width:670px;
  line-height: 26px; 
  float:left;
  a, a:visited { 
    background: $highlight; 
    padding:2px; 
    color: #333; 
    text-decoration: none; 
  }
  a:hover {
    background: #333; 
    color: #fff; 
  }
}

#main-post { 
  padding: 0 44px 50px;
  width:670px;
  line-height: 26px; 
  float:left;
  margin-top: -8px;
  a, a:visited { 
    background: $highlight; 
    padding:2px; 
    color: #333; 
    text-decoration: none; 
  }
  a:hover {
    background: #333; 
    color: #fff; 
  }
}

#post-content {
  margin: -8px 0 20px;
}

#sidebar { 
  width: 310px;
  float:right; 
  h1 { 
    border-bottom:thin solid black; 
    padding: 3px 0 10px 4px 
  }
  a, a:visited { 
    color: #333; 
    text-decoration: none; 
  }
  a:hover { 
    color: gray 
  }
  ul.simple-list { 
    list-style-type:none; 
    font-size:14px; 
    padding-left:5px; 
    margin-left:0px; 
    width:150px; 
    margin-top:10px 
  }
  ul.simple-list.social {
    padding-left:20px; 
    width:110px 
  }
}

#contact {
  a, a:visited { 
    color: #ccc; 
    font-style: italic; 
    background: transparent;
  }
  a:hover { 
    background: whiteSmoke; 
  }
}

#clock { 
  display:inline-block; 
  min-width: 75px;
  cursor: pointer!important;
}

/* SOME CLASSES */

.upper { 
  text-transform: uppercase; 
}

.ital { 
  font-style: italic; 
}

.left { 
  float: left; 
}

.right { 
  float: right; 
}

.hightlight {
  background: $highlight;
}