<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="Jonathan Vingiano, Jon Vingiano, Jonny Vingiano, designer, developer, NYC, brooklyn, new museum, rhizome, hyperpublic, hyper public, jumppost, jgv"> 
    <meta name="Description" content="Designer and Developer from NYC. Currently at Hyperpublic. Previously with New Museum and Rhizome."/> 
    <meta name="abstract" content="Designer and Developer from NYC." /> 
    <meta http-equiv="Content-Language" content="EN" /> 
    <meta name="author" content="Jonathan Vingiano" />
    <meta name="distribution" content="Global" /> 
    <meta name="revisit-after" content="1 days" /> 

    <title>{{ page.title }}</title>

    <link href="http://feeds.feedburner.com/jgv" rel="alternate" title="Jonathan Vingiano" type="application/atom+xml" />
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon" />
    <script type="text/javascript" src="/javascripts/init.js"></script>
  </head>
  
  <body>

    
    <div id="meta-head" onclick="returnHome()">
      <span id="clock">&#160;</span><p>Hi. This is Jonathan Vingiano's website. Compiled on {{ 'site.time' | date: "%d %B %Y" }}.</p>
    </div>
    <div id="wrapper" class="clearfix">
      <div id="main">

        {{ content }}

        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'jgv'; 
          // var disqus_identifier = 'unique_dynamic_id_1234';
          // var disqus_url = window.location;
          
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
        
      </div>

      <div id="sidebar">
	      <h1 class="upper">{{ page.title }}</h1>
	      <ul class="simple-list left">
	        <p class="ital">Some Friends</p>
	        <li><a href="http://johnmichaelboling.com">John Michael Boling</a></li>
	        <li><a href="http://jordancooper.wordpress.com">Jordan Cooper</a></li>
	        <li><a href="http://jnhasty.com">Nick Hasty</a></li>
	        <li><a href="http://kneeon.tv/">Mike Healey & Kelley Goeller</a></li>
	        <li><a href="http://duncanmalashock.com">Duncan Malashock</a></li>
	        <li><a href="http://amillionkeys.com">Ceci Moss</a></li>
	        <li><a href="http://dougpetkanics.com/">Doug Petkanics</a></li>
	        <li><a href="http://zacksears.com">Zack Sears</a></li>
	        <li><a href="http://thomasrennie.com">Thomas Rennie</a></li>
	      </ul>

	      <ul class="simple-list social right">
	        <p class="ital">Other Internet</p>
	        <li><a href="http://hyperpublic.com">Hyperpublic</a></li>
	        <li><a href="http://oak.fm">Oak fm</a></li>
	        <li><a href="http://twitter.com/jgv">Twitter</a></li>
	        <li><a href="http://jonathanvingiano.tumblr.com">Tumblr</a></li>
	        <li><a href="http://del.icio.us/jonathanvingiano">Del.icio.us</a></li>
	        <li><a href="http://www.last.fm/user/jgv">Last.fm</a></li>
	        <li><a href="http://github.com/jgv">Github</a></li>
	        <li><a href="http://wwoorrkk.net">WWOORRKK</a></li>
	      </ul>
      </div>
    </div>

    <!-- GA -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19735778-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
