---
layout: default
---

<div id="post-content">
{{ content }}


  {% if post.previous %}
  <span class="page-nav-item">
    <a rel="prev" href="{{ post.previous.url }}/" title="View {{ post.previous.title }}" >&#8592; view previous post</a>
  </span>
  {% endif %}
  {% if post.next %}
  <span class="page-nav-item">
    <a rel="next" href="{{ post.next.url }}/" title="View {{ post.next.title }}">view next post &#8594;</a>
  </span>
  {% endif %}

<a href="/"><h2 class="back hightlight left">back</h2></a>

</div>